services:
    koconut-web:
        image: ghcr.io/koconut-mc/website
        container_name: koconut_mc_web
        ports:
            - "8000:80"
        restart: unless-stopped
        volumes:
            - ./modpack:/data/dist/download:ro
    redis:
        image: redis
        container_name: redis
        restart: unless-stopped
        networks:
            - crafatar-net
    crafatar:
        image: crafatar/crafatar
        container_name: crafatar
        ports:
            - "3000:3000"
        restart: unless-stopped
        volumes:
            - crafatar-images:/home/app/crafatar/images
        environment:
            - REDIS_URL=redis://redis
        networks:
            - crafatar-net
    bluemap:
        image: ghcr.io/bluemap-minecraft/bluemap
        container_name: koconut_smp_bluemap
        restart: unless-stopped
        command: -r -u -w --mods /app/mods --maps "overworld,nether,end"
        ports:
            - "8100:8100"
        volumes:
            - "./config:/app/config"
            - "./world:/app/world"
            - "./world_nether:/app/world_nether"
            - "./world_the_end:/app/world_the_end"
            - "./data:/app/data"
            - "./web:/app/web"
            - "./mods:/app/mods"
volumes:
    crafatar-images:
networks:
    crafatar-net:
        name: crafatar
