services:
    koconut-web:
        build: ./koconut_mc_web
        container_name: koconut_mc_web
        ports:
            - "8000:80"
        restart: unless-stopped
        networks:
            - crafatar-net
        volumes:
            - ./koconut_mc_modpack:/data/dist/modpack/
    redis:
        image: redis
        container_name: redis
        restart: unless-stopped
        networks:
            - crafatar-net
    crafatar:
        image: crafatar/crafatar
        container_name: crafatar
        ports:
            - "3000:3000"
        restart: unless-stopped
        volumes:
            - crafatar-images:/home/app/crafatar/images
        environment:
            - REDIS_URL=redis://redis
        networks:
            - crafatar-net
volumes:
    crafatar-images:
networks:
    crafatar-net:
        name: crafatar
