services:
    koconut-web:
        build: .
        container_name: koconut_mc_web
        read_only: true
        ports:
            - "8000:80"
        restart: unless-stopped
        volumes:
            - ./modpack:/data/dist/download:ro
    redis:
        image: redis
        container_name: redis
        restart: unless-stopped
        networks:
            - crafatar-net
    crafatar:
        image: crafatar/crafatar
        container_name: crafatar
        ports:
            - "3000:3000"
        restart: unless-stopped
        volumes:
            - crafatar-images:/home/app/crafatar/images
        environment:
            - REDIS_URL=redis://redis
        networks:
            - crafatar-net
volumes:
    crafatar-images:
networks:
    crafatar-net:
        name: crafatar
