---
import Page from "../layouts/Page.astro";
---

<Page page="500">
	<div class="element">
		<h1>500</h1>
		<h2>Internal Server Error</h2>
	</div>
</Page>

<style>
	.element {
		background-color: var(--element-clr-odd);
		width: 100%;
		text-align: center;
		text-wrap: balance;
		padding: 20px 100px 20px 100px;
	}
	h1 {
		font-size: 3rem;
		color: var(--special-clr);
	}
</style>
