---
import Element from "../components/Element.astro";
import Page from "../layouts/Page.astro";

interface Command {
	name: string;
	arg?: string;
	description: string;
}
const commands: Command[] = [
	{ name: "spawn", description: "return back to spawn" },
	{ name: "back", description: "return back to a previous death location" },
	{ name: "playtime", description: "show your active playtime" },
	{
		name: "tpa",
		arg: "player",
		description: "send a teleport request to a player",
	},
	{
		name: "tpahere",
		arg: "player",
		description: "send a bring teleport request to a player",
	},
	{ name: "tpadeny", description: "explicitly deny a tpa request" },
	{ name: "home", description: "teleport to your set home location" },
	{ name: "homes", description: "list active home locations" },
	{ name: "sethome", arg: "name", description: "set a home location" },
	{ name: "delhome", arg: "name", description: "delete a home location" },
	{ name: "afk", description: "go into AFK mode" },
	{
		name: "rtp",
		description:
			"teleport to a random location between 100 - 10000 blocks away",
	},
];
---

<Page page="Commands">
	<Element>
		<h1>Commands</h1>
		<p>List of available commands for Koconut SMP.</p>
		<section class="commands">
			{
				commands.map((command) => (
					<div>
						<p class="command-name">
							{"/" + command.name}
							{command.arg && <span>[{command.arg}]</span>}
						</p>
						<p class="command-desc">{command.description}</p>
					</div>
				))
			}
		</section>
		<p>
			Note that these commands and utilities found on Koconut SMP do not
			come with the Koconut MC modpack.
		</p>
	</Element>
</Page>

<style>
	p {
		font-size: 1.1rem;
	}

	h1 {
		color: var(--special-clr);

		&::after {
			content: "";
			display: block;
			background-color: rgb(40, 40, 40);
			width: 60%;
			height: 1px;
			margin: 20px auto 0 auto;
		}
	}

	.commands {
		width: 70%;
		margin: 30px auto 30px auto;

		div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: rgb(20, 20, 20);
			padding: 10px 30px 10px 30px;
		}
		div:nth-child(even) {
			background-color: rgb(15, 15, 15);
		}
		span {
			color: rgb(150, 150, 150);
			font-weight: normal;
		}
	}

	.command-name {
		font-weight: bold;
	}

	.command-desc {
		font-size: 1rem;
	}
</style>
