---
import Gallery from "../components/Gallery/src.svelte";
import Element from "../components/Element.astro";
import Page from "../layouts/Page.astro";
---

<Page page="Gallery">
	<Element>
		<Gallery client:only="svelte" />
		<noscript>
			<h1 class="red">JavaScript is required to view the gallery.</h1>
		</noscript>
	</Element>
</Page>

<style>
	.red {
		color: var(--red);
		text-align: center;
	}
</style>
