---
import Changelogs from "../components/Home/Changelogs.astro";
import Slideshow from "../components/Gallery/Slideshow.svelte";
import Discord from "../components/Home/Discord.astro";
import YtEmbed from "../components/YtEmbed.svelte";
import Info from "../components/Info/src.astro";
import Page from "../layouts/Page.astro";
import Map from "../components/Map.astro";
---

<Page page="Home">
	<div class="left">
		<Slideshow client:only="svelte" />
		<YtEmbed
			width="100%"
			height="440px"
			id="fVI3m3ejvcQ?si=XM9DmRLgTcbhlIDx"
			client:only="svelte"
		/>
		<Changelogs />
	</div>
	<div class="right">
		<Info />
		<Map height="500px" width="100%" />
		<Discord />
	</div>
</Page>

<style>
	.left,
	.right {
		display: grid;
		height: fit-content;
	}
	.right {
		width: 37%;
		gap: 30px;
	}
	.left {
		width: 60%;
		gap: 30px;

		.md-changelog:nth-child(even) {
			background-color: var(--element-clr-even);
		}
	}
</style>
