---
// Automate changelogs on the home page
const md_dir = import.meta.glob("../../md/changelogs/*.md", { eager: true });
const mds = Object.values(md_dir).map((file) => {
	const { Content } = file as any; //its all hacks anyway, lets create more
	return {
		Content,
	};
});
---

{
	mds.map((md) => (
		<section class="md-changelog">
			<md.Content />
		</section>
	))
}

<style>
	section {
		background-color: var(--element-clr);
		padding: 20px;

		h1 {
			background-color: rgb(10, 10, 10);
			color: var(--special-clr);
			width: fit-content;
			padding: 10px 20px 10px 20px;
			font-size: 1.5rem;

			@media (max-width: 1300px) {
				font-size: 3rem;
			}
		}
		:not(h1) {
			color: var(--text-clr);
		}
		a {
			text-decoration: none;

			&:hover,
			&:focus-visible {
				text-decoration: underline;
			}
		}

		@media (max-width: 1300px) {
			font-size: 2rem;
		}
	}
</style>
