---
import { type page } from "../ts/types";

interface Props {
	current: page;
}
const { current } = Astro.props;
---

<header>
	<a href="" class="header-logo">
		<img src="/koconutmc.webp" alt="" height="200px" />
	</a>
	<nav>
		<a href="/" class="header-button" data-current={current === "Home"}
			>Home</a
		>
		<a
			href="https://map.koconutmc.com/"
			class="header-button"
			data-current={current === "Map"}>Live Map</a
		>
		<a href="" class="header-button" data-current={current === "Modpack"}
			>Modpack</a
		>
		<a href="" class="header-button" data-current={current === "Issues"}
			>Issues</a
		>
		<a href="" class="header-button" data-current={current === "Commands"}
			>Commands</a
		>
		<a href="" class="header-button" data-current={current === "About"}
			>About</a
		>
	</nav>
</header>

<style>
	header {
		display: grid;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 480px;
	}

	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 15px 50px;
		background-color: var(--element-clr);
		width: var(--header-width);
		box-shadow: 12px 12px 0px 1px rgb(10, 10, 10);
	}

	img {
		margin-top: 50px;
		transition: height 0.3s;
	}

	.header-logo {
		margin-inline: auto;

		&:hover img {
			height: 210px;
			transition: height 0.3s;
		}
	}

	.header-button {
		--text-clr: hsl(360 1 70);
		--text-clr-active: black;
		--background-clr-active: hsl(360 1 85);
		--background-clr-hover: hsl(360 1 20);

		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 15px 30px 15px 30px;
		font-weight: bold;
		font-size: 1.2rem;
		border-radius: 5px;
		color: var(--text-clr);
		transition: background-color 0.2s;

		&[data-current="true"] {
			background-color: var(--background-clr-active);
			color: var(--text-clr-active);
		}
		&:hover:not(&[data-current="true"]) {
			background-color: var(--background-clr-hover);
			transition: background-color 0.1s;
		}
	}
</style>
