---

---

<main id="picture-slideshow">
	<header>
		<p id="image-title">Koconut's Factory Train</p>
		<div class="credit">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 -960 960 960"
				height="24px"
				width="24px"
			>
				<path
					d="M480-260q75 0 127.5-52.5T660-440q0-75-52.5-127.5T480-620q-75 0-127.5 52.5T300-440q0 75 52.5 127.5T480-260Zm0-80q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM160-120q-33 0-56.5-23.5T80-200v-480q0-33 23.5-56.5T160-760h126l74-80h240l74 80h126q33 0 56.5 23.5T880-680v480q0 33-23.5 56.5T800-120H160Zm0-80h640v-480H638l-73-80H395l-73 80H160v480Zm320-240Z"
				></path>
			</svg>
			<p id="image-credit">hypabit</p>
		</div>
	</header>
	<section>
		<button id="previous-pic">&#10094;</button>
		<button id="next-pic">&#10095;</button>
	</section>
</main>

<script>
	const slideshow = document.getElementById("picture-slideshow");
	console.log(slideshow);
</script>
<noscript>
	<style>
		button {
			display: none;
		}
	</style>
</noscript>

<style>
	main {
		--credit-clr: rgb(200, 200, 200);
		--pic-element-clr: rgba(0, 0, 0, 0.6);

		background-color: var(--element-clr);
		height: 440px;
		background-image: url("/slideshow/koconut_factory_train_hypabit.png");
		background-size: contain;
		background-repeat: no-repeat;
		border-radius: 5px;

		&:hover button {
			opacity: 1;
		}
	}

	section {
		display: flex;
		justify-content: space-between;
		width: 95%;
		margin-inline: auto;
		top: 29%;
		position: relative;
	}

	button {
		font-weight: bold;
		font-size: 1.2rem;
		background-color: var(--pic-element-clr);
		border: 0;
		width: 40px;
		height: 50px;
		color: var(--credit-clr);
		opacity: 0;

		&:hover {
			cursor: pointer;
			background-color: black;
		}
	}

	.credit {
		display: flex;
		align-items: center;
		background-color: var(--pic-element-clr);
		height: fit-content;
		width: fit-content;
		border-bottom-right-radius: 10px;

		svg {
			padding: 0 0 10px 10px;
			fill: rgb(100, 100, 100);
		}
	}

	#image-title {
		background-color: var(--pic-element-clr);
		font-weight: bold;
		margin: 0;
		padding: 10px;
		color: var(--text-clr);
		height: fit-content;
		width: fit-content;
		border-bottom-right-radius: 10px;
	}
	#image-credit {
		margin: 0 0 0;
		padding: 0 15px 10px 10px;
		color: var(--credit-clr);
	}
</style>
