---

---

<section>
	<p class="server-name">Koconut SMP</p>
	<p class="server-desc">
		A public Minecraft modded SMP focused around <a
			href="https://youtu.be/rR8W-f9YhYA"
			target="_blank">Create</a
		>, <a href="https://minecolonies.com/" target="_blank">MineColonies</a>,
		and RP.
	</p>
	<div class="button">
		<a href="/about/">About</a>
	</div>
	<span class="spacer"></span>
	<div class="playing-now">
		<p>
			<span class="yellow" id="player-count">...</span>/<span
				id="player-max">...</span
			> Playing Now
		</p>
	</div>
	<div class="button smp-url">
		<button
			><svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 -960 960 960"
				height="32px"
				width="32px"
				fill="var(--text-clr-status)"
			>
				<path
					d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"
				>
				</path>
			</svg> smp.koconutmc.com</button
		>
		<p class="click-to-join">Click To Join! (Modpack Required)</p>
	</div>
</section>

<script src="./api.ts"></script>

<style>
	section {
		--text-clr-status: rgb(150, 150, 150);

		background-color: var(--element-clr);
	}
	p {
		text-align: center;
	}

	.click-to-join {
		color: var(--text-clr-status);
	}
	.yellow {
		color: var(--special-clr);
	}
	.spacer {
		display: block;
		background-color: rgb(40, 40, 40);
		width: 80%;
		height: 1px;
		margin-inline: auto;
		margin: 50px auto 30px auto;
	}
	.server-desc {
		color: var(--text-clr-status);

		& > a {
			text-decoration: underline;
			color: var(--text-clr-status);

			&:hover,
			&:visited,
			&:active {
				color: var(--text-clr-status);
			}
		}
	}
	.server-name {
		color: var(--special-clr);
		font-weight: bold;
		font-size: 1.5rem;
	}
	.button {
		margin-inline: auto;
		width: fit-content;
		margin: 30px auto 0 auto;

		button {
			display: flex;
			align-items: center;
			gap: 10px;

			&:hover {
				cursor: pointer;
			}
		}
		a {
			border: 1.5px solid var(--text-clr-status);
			padding: 8px 30px 8px 30px;
			color: var(--text-clr-status);

			&:hover {
				background-color: rgb(40, 40, 40);
			}
		}
	}
	.playing-now {
		font-weight: bold;
		font-size: 1.5rem;
		margin: 50px 0 30px 0;
		color: var(--text-clr);
	}
	.smp-url button {
		font-weight: bold;
		font-size: 1.1rem;
		padding: 15px 40px 15px 40px;
		background-color: transparent;
		border: 1.5px solid var(--text-clr-status);
		color: var(--text-clr-status);

		&:hover {
			background-color: rgb(40, 40, 40);
		}
	}
</style>
