---
import Meta from "../components/Meta.astro";

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Meta title={title} />
		<link rel="icon" type="image/webp" href="/koconutmc_logo.webp" />
		<title>Koconut MC | {title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import "./vars.css";

	::selection {
		background-color: var(--special-clr);
		color: black;
	}

	body {
		display: grid;
		font-family:
			-apple-system, "Segoe UI", system-ui, Roboto, "Helvetica Neue",
			Arial, "Noto Sans", "Liberation Sans", sans-serif,
			"Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
			"Twemoji Mozilla";
		box-sizing: border-box;
		margin: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		scroll-behavior: smooth;
		background-color: black;
	}

	a {
		text-decoration: none;

		&:hover,
		&:active,
		&:visited {
			color: var(--text-clr);
		}
	}

	p {
		color: var(--text-clr);
	}

	button:hover {
		cursor: pointer;
	}
</style>
