---
import HtmlBody from "../layouts/Body.astro";
import Header from "../components/Header/src.astro";
import Footer from "../components/Footer.astro";

interface Props {
	page: string;
}
const { page } = Astro.props;
---

<HtmlBody title={page}>
	<video muted autoplay loop>
		<source src="/bg_video.mp4" type="video/mp4" />
	</video>
	<Header current={page} />
	<main>
		<slot />
	</main>
	<Footer />
</HtmlBody>

<style>
	video {
		min-width: 100%;
		min-height: 100%;
		pointer-events: none;
		user-select: none;
		filter: blur(10px) brightness(30%);
		z-index: -1;
		background: #00000080;
		position: fixed;
	}

	main {
		display: flex;
		justify-content: center;
		gap: 30px;
		margin-inline: auto;
		margin-top: 10px;
		width: calc(var(--header-width) + 100px);
	}
</style>
