:root {
	--element-clr: hsl(360 0 10);
	--element-clr-even: hsl(360 0 8);
	--text-clr-status: rgb(150, 150, 150);
	--text-clr: rgb(230, 230, 230);
	--special-clr: #ffdf70;
	--red: #c01e1e;
	--header-width: 1200px;

	color-scheme: dark;
}
