name: CI

on:
    push:
        branches: ["main"]
        paths:
            - "src/**"
            - "public/**"
            - "Dockerfile"
            - "astro.config.mjs"
            - "postcss.config.js"
            - "svelte.config.js"
    pull_request:
        branches: ["main"]
        paths:
            - "src/**"
            - "public/**"
            - "Dockerfile"
            - "astro.config.mjs"
            - "postcss.config.js"
            - "svelte.config.js"

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - uses: actions/checkout@v4
            - name: ghcr login
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Build and push Docker image
              run: |
                  docker build . -t ghcr.io/koconut-mc/website:latest
                  docker push ghcr.io/koconut-mc/website:latest
