name: CI

on:
    push:
        branches: ["main"]
        paths:
            - "src/**"
            - "Dockerfile"
    pull_request:
        branches: ["main"]
        paths:
            - "src/**"
            - "Dockerfile"

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/koconut-mc/website
                  tags: |
                      type=sha,format=long
                      type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}

            - name: Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: ghcr.io login
              if: github.event_name != 'pull_request'
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  cache-from: type=gha
                  cache-to: type=inline
